{{ define "main" }}
  <h1>{{ .Title }}</h1>

  <label for="theme-selector">{{ .Params.theme.text }}:</label>
  <select id="theme-selector" onChange="setTheme(this.value)">
    <option>{{ .Params.theme.text }}</option>

    {{ range .Params.theme.options }}
      <option value="{{ .value }}">{{ .text }}</option>
    {{ end }}
  </select>

  <br/><br/>

  <label for="code-theme-selector">{{ .Params.codetheme.text }}:</label>
  <select id="code-theme-selector" onChange="setCodeTheme(this.value)">
    <option>{{ .Params.codetheme.text }}</option>

    {{ range .Params.codetheme.options }}
      <option value="{{ .value }}">{{ .text }}</option>
    {{ end }}
  </select>

  <div class="markdown">{{ .Content }}</div>
{{ end }}

