nogit-*
/content/challenges/**/solution

######
# OS #
######

# MacOS
.DS_Store

###########
# Editors #
###########

# Sublime Text
*.sublime*

# Vim
*.sw[op]
Session.vim
*~

#########
# Tools #
#########

# GNU Screen
.screenrc

# Mage
/mage

#######################
# Frameworks and libs #
#######################

# Hugo
/public/
/resources/

