{{ define "main" }}
  <h1>{{ .Title }}</h1>

  {{ .Content }}

  {{ if gt (len .Paginator.Pages) 0 }}
    <ul>
      {{ range .Paginator.Pages }}
      <li class="project">
        <a href="{{ .URL }}"><h3>{{ .Title }}</h3></a>

        <p>{{ .Description }}</p>

        <div class="project-metadata small">
          <div>
            <strong>{{ i18n "LICENSE" }}:</strong>

            <span>{{ .Params.license }}</span>
          </div>

          <div>
            <strong>{{ i18n "KINDS" }}:</strong>

            {{ range .Params.kinds }}
              <a href="{{ absLangURL "kinds/" }}{{ . | urlize }}">
                @{{ . }}</a>
            {{ end }}
          </div>

          <div>
            <strong>{{ i18n "TECHS" }}:</strong>

            {{ range .Params.techs }}
              <a href="{{ absLangURL "techs/" }}{{ . | urlize }}">
                #{{ . }}</a>
            {{ end }}
          </div>
        </div>
      </li>
      {{ end }}
    </ul>

    {{ template "_internal/pagination.html" . }}
  {{ end }}
{{ end }}

