{{ define "main" }}
  {{ $title := .Title }}

  <article class="article">
    <h1 class="article-title">{{ $title }}</h1>

    {{ with .Params.image }}
      <img alt="{{ $title }}" src="{{ . }}" class="article-image"/>
    {{ end }}

    <div class="article-metadata">
      <dl>
        {{ with .Params.website }}
          <dt>{{ i18n "WEBSITE" }}:</dt>
          <dd><a href="{{ . }}">{{ . }}</a></dd>
        {{ end }}

        {{ with .Params.source }}
          <dt>{{ i18n "SOURCE_CODE" }}:</dt>
          <dd><a href="{{ . }}">{{ . }}</a></dd>
        {{ end }}

        {{ with .Params.license }}
          <dt>{{ i18n "LICENSE" }}:</dt>
          <dd>{{ . }}</dd>
        {{ end }}

        <dt>{{ i18n "KINDS" }}:</dt>
        <dd>
          {{ range .Params.kinds }}
            <a href="{{ absLangURL "kinds/" }}{{ . | urlize }}">
              @{{ . }}</a>
          {{ end }}
        </dd>

        <dt>{{ i18n "TECHS" }}:</dt>
        <dd>
          {{ range .Params.techs }}
            <a href="{{ absLangURL "techs/" }}{{ . | urlize }}">
              #{{ . }}</a>
          {{ end }}
        </dd>
      </dl>
    </div>

    {{ .Content }}
  </article>
{{ end }}

