@media print {
}

.article-title {
  font-size: 2.5em !important;
}

.article-image {
  max-width: 40% !important;
  max-height: 50vh;

  float: right;
  margin: 2em;
}

@media screen and (max-width: 768px) {
  .article-image {
    max-width: 100% !important;
    max-height: 80vh;

    display: block;
    float: none;
    margin: 2em auto;
  }
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
}

.note {
  border: 0.1em solid;
  margin: 2em 0em;
  padding: 1em 2em;
}

.note header {
  border-bottom: 0.1em solid;
  font-weight: bold;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}

