#body {
  min-height: calc(100vh - 2em);

  background: #fff;
  font-family: monospace;
  font-size: 16px;
  padding: 1em;
}

#body.dark-theme,
#body.dark-theme img {
  filter: invert(100%);
}

#body > main {
  margin-top: 1em;
  margin-bottom: 1em;
}

#body > footer {
  border-top: 0.05em solid #aaa;
  color: #666;
  font-size: 0.8em;
  text-align: center;
}

