{{ define "main" }}
  {{ $title := .Title }}

  <article class="article">
    <h1 class="article-title">{{ $title }}</h1>

    {{ with .Params.image }}
      <img alt="{{ $title }}" src="{{ . }}" class="article-image"/>
    {{ end }}

    <div class="article-metadata">
      <dl>
        {{ if .Params.date }}
          <dt>{{ i18n "DATE" }}:</dt>
          <dd>{{ .Date.Format "2006/01/02 15:04:05 -0700" }}</dd>
        {{ end }}

        <dt>{{ i18n "CATEGORIES" }}:</dt>
        <dd>
          {{ range .Params.categories }}
            <a href="{{ absLangURL "categories/" }}{{ . | urlize }}">
              @{{ . }}</a>
          {{ end }}
        </dd>

        <dt>{{ i18n "TAGS" }}:</dt>
        <dd>
          {{ range .Params.tags }}
            <a href="{{ absLangURL "tags/" }}{{ . | urlize }}">
              #{{ . }}</a>
          {{ end }}
        </dd>
      </dl>
    </div>

    {{ .Content }}
  </article>
{{ end }}

