{{ define "main" }}
  <article class="article">
    {{ $title := .Title }}
    <h1 class="article-title">{{ $title }}</h1>

    {{ partial "metadata-box.tmpl" . }}
    {{ partial "share-buttons.tmpl" . }}

    <div class="markdown">
      {{ .Content }}

      <div class="album">
        {{ if eq .Params.mode "regular" }}
          {{ range .Params.images }}
            <figure>
              {{ with .ref }}
                <a src="{{ . }}" rel="noopener noreferrer" target="_blank">
              {{ end }}

              <img alt="" class="" src="{{ .src }}">

              {{ with .ref }}</a>{{ end }}

              {{ with .caption }}
                <figcaption>{{ markdownify . }}</figcaption>
              {{ end }}
            </figure>
          {{ end }}
        {{ else if eq .Params.mode "oembed" }}
          {{ $ref := .Params.ref }}
          {{ $oembedURL := "" }}

          {{ with .Params.oembed }}
            {{ $oembedURL = . }}
          {{ else }}
            {{ range $oembed := .Site.Data.embed.oembed }}
              {{ range $pattern := $oembed.patterns }}
                {{ if and (eq $oembedURL "") (findRE $pattern $ref 1) }}
                  {{ $oembedURL = $oembed.url }}
                {{ end }}
              {{ end }}
            {{ end }}
          {{ end }}

          {{ with printf $oembedURL $ref | getJSON }}
            {{ if isset . "html" }}
              {{ safeHTML .html }}
            {{ end }}
          {{ end }}
        {{ else if eq .Params.mode "script" }}
          {{ $ref := .Params.ref }}
          {{ $script := "" }}

          {{ with .Params.script }}
            {{ $script = . }}
          {{ else }}
            {{ range $scriptData := .Site.Data.embed.script }}
              {{ range $pattern := $scriptData.patterns }}
                {{ if and (eq $script "") (findRE $pattern $ref 1) }}
                  {{ $script = $scriptData.script }}

                  {{ range $pattern := $scriptData.replacePatterns }}
                    {{ $ref = replaceRE $pattern.pattern $pattern.replace $ref }}
                  {{ end }}
                {{ end }}
              {{ end }}
            {{ end }}
          {{ end }}

          {{ safeHTML (printf $script $ref) }}
        {{ end }}
      </div>
    </div>
  </article>
{{ end }}

