{{ define "main" }}
  <h1>{{ .Title }}</h1>

  {{ .Content }}

  {{ if gt (len .Sections) 0 }}
    <ul>
      {{ range .Sections }}
        <li>
          <a href="{{ .URL }}">{{ .Title }}</a>

          {{ with .Pages }}({{ len . }}){{ end }}
        </li>
      {{ end }}
    </ul>
  {{ end }}

  {{ if gt (len .Paginator.Pages) 0 }}
    <ul>
      {{ range .Paginator.Pages }}
      <li>
        {{ if eq .Kind "page"}}
          <span>{{ .Date.Format "2006/01/02" }}</span>
        {{ end }}

        <a href="{{ .URL }}">{{ .Title }}</a>

        {{ with .Pages }}({{ len . }}){{ end }}
      </li>
      {{ end }}
    </ul>

    {{ template "_internal/pagination.html" . }}
  {{ end }}
{{ end }}

