{{ define "main" }}
  <h1>
    {{ if eq .Kind "taxonomy" }}
      {{ replace .Type "-" "_" | upper | i18n }}:
    {{ end }}

    {{ .Title }}
  </h1>

  {{ .Content }}

  {{ $pages := slice }}

  {{ if eq .Type "series" }}
    {{ $pages = sort .Pages "PublishDate" }}
  {{ else if not (eq .Paginator nil) }}
    {{ $pages = .Paginator.Pages }}
    {{ partial "pagination.tmpl" . }}
  {{ else }}
    {{ $pages = .Pages }}
  {{ end }}

  {{ if gt (len $pages) 0 }}
    <ul class="pages-list">
      {{ range $pages }}
        <li>{{ partial "card.tmpl" . }}</li>
      {{ end }}
    </ul>

    {{ if and (not (eq .Paginator nil)) (ne .Type "series") }}
      {{ partial "pagination.tmpl" . }}
    {{ end }}
  {{ else }}
    <p>{{ i18n "NO_CONTENT" }}</p>
  {{ end }}
{{ end }}

