.article .article-title {
  font-size: 2.5em;
}

.article .article-subtitle {
  font-size: 1.5em;

  margin-top: -1.5em;
}

.article h1.article-title::before,
.article h2.article-subtitle::before {
  content: "";
}

.article .article-image {
  max-width: 40%;
  max-height: 50vh;

  float: right;
  margin: 2em;
}

@media screen and (max-width: 768px) {
  .article .article-image {
    max-width: 100%;
    max-height: 80vh;

    display: block;
    float: none;
    margin: 2em auto;
  }
}

/* Table of contents */

.toc {
  padding: 1em;
  padding-bottom: 0em;
}

/* Heading */

.article h1::before,
.article h2::before,
.article h3::before,
.article h4::before,
.article h5::before,
.article h6::before {
  opacity: 0.25;
}

.article h1::before {
  content: "# ";
}

.article h2::before {
  content: "## ";
}

.article h3::before {
  content: "### ";
}

.article h4::before {
  content: "#### ";
}

.article h5::before {
  content: "##### ";
}

.article h6::before {
  content: "###### ";
}

/* Shortcodes */

  /* Images shortcode */

img.shortcode {
  max-width: 100%;
}

img.shortcode.block {
  display: block;

  margin-left: auto;
  margin-right: auto;
}

img.shortcode.wide {
  max-width: none;
  width: calc(100% + 2em);

  display: block;

  margin-left: -1em;
}

img.shortcode.align-left {
  float: left;
  margin-right: 1em;
}

img.shortcode.align-right {
  float: right;
  margin-left: 1em;
}

  /* Notes */

.article .note {
  border: 0.1em solid;
  margin: 2em 0em;
  padding: 1em 2em;
}

.article .note header {
  border-bottom: 0.1em solid;
  font-weight: bold;
  margin-top: 0.5em;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
}

