#body > main {
  max-width: 80ex;

  margin: 1em auto;
}

img.site-img {
  max-width: 100%;

  display: block;
  margin: 0 auto;
}

@media (min-width: 768px) {
  img.site-img {
    max-width: 15em;
  }
}

