#body > main {
  padding: 0em 1.5em;
}

img.site-img {
  max-width: 100%;

  display: block;
  margin: 0 auto;
}

@media (min-width: 768px) {
  img.site-img {
    max-width: 15em;
  }
}

#body > main .contact {
  list-style: none;
  padding-left: 1em;
}

