.pages-list {
  list-style: none;
  margin: 0em;
  padding: 0em;
}

.pages-list li {
  width: 100%;

  margin-bottom: 1em;
}

/* Card */

.card {
  max-width: 100%;

  border: 0.1em dashed;
  box-sizing: border-box;
  margin: 0.5em;
  padding: 1.5em 2em;

  position: relative;
}

.card img {
  width: 100%;
  max-height: 15em;

  object-fit: cover;
  object-position: center;
}

.card h3 {
  margin: 0em;
}

@media screen and (min-width: 768px) {
  .card.has-image {
    min-height: 15em;
  }

  .card img {
    width: 15em;
    height: 14.9em;

    float: left;

    margin-top: -1.5em;
    margin-right: 1.5em;
    margin-left: -2em;
  }
}

