:root {
  --font-family: monospace;
  --font-size: 16px;
}

@media (min-width: 1400px) {
  :root {
    --font-size: 18px;
  }
}

@media (min-width: 1900px) {
  :root {
    --font-size: 22px;
  }
}

/* Themes */

body[data-theme="black"] {
  --background: #000;
  --primary-color: #427819;
  --accent-color: #427819;

  --font-color: #ccc;

  --code-background: #272822;
  --code-color: var(--font-color);

  --kbd-background: #eee;
  --kbd-color: #333;
}

body[data-theme="dark"] {
  --background: #212121;
  --primary-color: #427819;
  --accent-color: #427819;

  --font-color: #ccc;

  --code-background: #272822;
  --code-color: var(--font-color);

  --kbd-background: #eee;
  --kbd-color: #333;
}

body[data-theme="light"] {
  --background: #fff;
  --primary-color: #427819;
  --accent-color: #427819;

  --font-color: #24292e;

  --code-background: #eee;
  --code-color: var(--font-color);

  --kbd-background: #eee;
  --kbd-color: #333;
}

/* Elements */

body {
  color: var(--font-color);
  background: var(--background);
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: 2;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

input, select, textarea {
  background: transparent;
  color: var(--font-color);
}

p {
  hyphens: auto;
}

select {
  padding: 0.25em 0.5em;
}

/* Classes */

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.muted {
  opacity: 0.8;
}

.small {
  font-size: 0.85em;
}

/* Page structure */

body {
  min-height: 100vh;

  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    "header"
    " main "
    "footer";
}

@media (min-width: 1024px) {
  body {
    grid-template-columns: auto 90ex auto;
    grid-template-areas: 
      ". header ."
      ".  main  ."
      ". footer .";
  }
}

body > header {
  padding: 0em 1em;
  text-align: center;

  grid-area: header;
}

body > header nav a.is-active {
  font-weight: bold;
  text-decoration: underline;
}

body > header .navbar-search,
body > header .navbar-search form {
  display: inline-block;

  position: relative;
}

body > header .navbar-search form input {
  width: 0ex;

  border: none;
}

body > header .navbar-search:hover form input,
body > header .navbar-search form input:focus {
  width: 20ex;

  border-bottom: 0.1em solid;

  margin-right: 1ex;
}

body > header .navbar-search svg {
  height: 1em;

  color: var(--accent-color);

  position: relative;
  top: 0.2em;
}

body > main {
  max-width: 100vw;

  box-sizing: border-box;
  padding: 0em 1em;
  padding-bottom: 1em;

  grid-area: main;
}

body > footer {
  grid-area: footer;

  border-top: 0.05em solid;
  font-size: 0.8em;
  padding: 1em 0em;
  text-align: center;
}

