:root {
  --background: #fff;
  --primary-color: #427819;
  --accent-color: #427819;
  --font-color: #24292e;

  --font-family: monospace;
  --font-size: 16px;
}

@media (min-width: 1400px) {
  :root {
    --font-size: 18px;
  }
}

@media (min-width: 1900px) {
  :root {
    --font-size: 22px;
  }
}

/* Elements */

body {
  color: var(--font-color);
  background: var(--background);
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: 2;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

/* Classes */

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.muted {
  opacity: 0.8;
}

.small {
  font-size: 0.85em;
}

/* Page structure */

#body {
  min-height: 100vh;

  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    "header"
    " main "
    "footer";
}

@media (min-width: 768px) {
  #body {
    grid-template-columns: auto 80ex auto;
    grid-template-areas: 
      ". header ."
      ".  main  ."
      ". footer .";
  }
}

#body > header {
  padding: 0em 1em;
  text-align: center;

  grid-area: header;
}

#body > header > div {
  margin-top: 0.5em;
}

#body > main {
  max-width: 100vw;

  box-sizing: border-box;
  padding: 0em 1em;
  padding-bottom: 1em;

  grid-area: main;
}

#body > footer {
  grid-area: footer;

  border-top: 0.05em solid;
  font-size: 0.8em;
  padding: 0em 1em;
  text-align: center;
}

