:root {
  --background: #fff;
  --primary-color: #427819;
  --accent-color: #427819;
  --font-color: #24292e;

  --font-family: monospace;
  --font-size: 16px;
}

@media (min-width: 1400px) {
  :root {
    --font-size: 18px;
  }
}

@media (min-width: 1900px) {
  :root {
    --font-size: 22px;
  }
}

body {
  color: var(--font-color);
  background: var(--background);
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: 2;
}

a {
  color: var(--accent-color);
  word-break: break-all;
}

kbd {
  background: var(--code-background);
  border-color: lightgrey;
  border-radius: 0.2em;
  border-style: outset;
  border-width: 0.1em;
  color: var(--code-color);
  display: inline-block;
  font-family: monospace;
  padding: 0em 0.5em;
}

.small {
  font-size: 0.85em;
}

.card {
  max-width: 100%;

  border: 0.1em dashed;
  box-sizing: border-box;
  margin: 0.5em;
  padding: 1.5em 2em;
}

.card h3 {
  margin: 0em;
}

ul.pagination {
  list-style: none;
  padding: 0em;
  text-align: center;
}

ul.pagination li {
  display: inline;
}

#body {
  min-height: 100vh;

  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    "header"
    " main "
    "footer";
}

@media (min-width: 768px) {
  #body {
    grid-template-columns: auto 80ex auto;
    grid-template-areas: 
      ". header ."
      ".  main  ."
      ". footer .";
  }
}

#body > #settings {
  width: 100vw;
  height: 100vh;

  background: var(--background);

  position: fixed;
  bottom: 100%;
  left: 0em;
  z-index: 999999;
}

#body > header {
  padding: 0em 1em;
  text-align: center;

  grid-area: header;
}

#body > header > div {
  margin-top: 0.5em;
}

#body > main {
  max-width: 100vw;

  box-sizing: border-box;
  padding: 0em 1em;
  padding-bottom: 1em;

  grid-area: main;
}

#body > footer {
  grid-area: footer;
}

#body > footer {
  border-top: 0.05em solid;
  font-size: 0.8em;
  padding: 0em 1em;
  text-align: center;
}

