@media print {
  body {
    background: transparent;
    color: #212121;
    display: block;
    line-height: 1.5;
  }

  body > header,
  body > footer {
    display: none;
  }

  body > main {
    width: 100%;
  }

  .markdown code,
  .markdown pre,
  .markdown pre > code,
  .markdown pre code {
    white-space: pre-wrap !important;
    word-break: break-all !important;
  }
}

