<div class="card {{ if eq .Type "gallery" }}has-image{{ end }}">
  {{ if eq .Type "authors" }}
    <a href="{{ .Permalink }}"><h3>{{ .Title }} ({{ .Params.id }})</h3></a>
  {{ else if gt (len .Pages) 0 }}
    <a href="{{ .Permalink }}">{{ .Title }} ({{ len .Pages }})</a>
  {{ else }}
    {{ if isset .Params "image" }}
      {{ if eq .Type "gallery" }}
        {{ $image := .Params.image }}

        {{ if hasPrefix $image "/" }}
          {{ $image = absURL $image }}
        {{ else if not (strings.HasPrefix $image "http") }}
          {{ $image = printf "%s/%s" .Permalink $image | absURL }}
        {{ end }}

        <a href="{{ .Permalink }}">
          <img alt="{{ .Title }}" class="lazy-load"
               data-src="{{ $image }}"/>
        </a>
      {{ end }}
    {{ end }}

    <a href="{{ .Permalink }}"><h3>{{ .Title }}</h3></a>

    {{ with .Description }}
      {{ $sectDesc := ($.Site.GetPage $.Section).Description }}

      {{ if ne . $sectDesc }}
        <p>{{ . }}</p>
      {{ end }}
    {{ end }}

    {{ partial "metadata-box.tmpl" . }}
  {{ end }}
</div>
