<footer>
  <div>
    Powered by
    <a href="https://gohugo.io">Hugo</a>,
    <a href="https://fontawesome.com">FontAwesome</a>
    and

    <a href="{{ absLangURL "/projects/ntweb" }}">
      some other tools
    </a>
  </div>

  <div class="copyright">
    Copyright &copy; 2018 {{ .Site.Params.name }}
  </div>

  <div>
    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
      CC BY 4.0

      <!--
      <img alt="Creative Commons License" style="border-width:0"
           src="https://i.creativecommons.org/l/by/4.0/80x15.png"/>
      -->
    </a>
  </div>
</footer>

