{{ range .Site.Params.menu }}
  {{ if or (hasPrefix .url "http://") (hasPrefix .url "https://") }}
    | <a href="{{ .url }}">{{ .text }}</a>
  {{ else }}
    {{ $page := $.Site.GetPage (strings.TrimRight "/" .url) }}
    {{ $active := "" }}

    {{ if and (eq .url "/") $.IsHome }}
      {{ $active = "is-active" }}
    {{ else if and (ne .url "/") (hasPrefix $.Permalink $page.Permalink) }}
      {{ $active = "is-active" }}
    {{ end }}

    | <a href="{{ $page.Permalink }}" class="{{ $active }}">
      {{ .text | default $page.Title }}</a>

    {{- $l := len $page.Pages }}
    {{- if gt $l 0 }}<sup>({{ $l }})</sup>{{ end }}
  {{ end }}
{{ end }}

