{{ $menu := index .Site.Params (.Scratch.Get "menuItems") }}

{{ range $menu.items }}
  {{ if strings.HasPrefix .url "http" }}
    {{ $menu.before | safeHTML -}}
    <a href="{{ .url }}">{{ .text }}</a>
    {{- $menu.after | safeHTML }}
  {{ else }}
    {{ $page := $.Site.GetPage (strings.TrimRight "/" .url) }}
    {{ $active := "" }}

    {{ if and (eq .url "/") $.IsHome }}
      {{ $active = "is-active" }}
    {{ else if and (ne .url "/") (hasPrefix $.Permalink $page.Permalink) }}
      {{ $active = "is-active" }}
    {{ end }}

    {{ $menu.before | safeHTML -}}

    <a href="{{ $page.Permalink }}"
       class="{{ $active }}">{{ .text | default $page.Title }}</a>

    {{- $l := len $page.Pages }}
    {{- if gt $l 0 }}<sup>({{ $l }})</sup>{{ end }}

    {{- $menu.after | safeHTML }}
  {{ end }}
{{ end }}

