<div class="metadata small">
  {{ if ne .Site.Params.singleAuthor true }}
    {{ $authorURL := printf "/authors/%s" ($.Param "author") }}
    {{ $author := .Site.GetPage $authorURL }}

    <div>
      <strong>{{ i18n "AUTHOR" }}:</strong>

      <span>
        <a href="{{ $author.Permalink }}">
          {{ $author.Params.id }}
        </a>
      </span>
    </div>
  {{ end }}

  {{ if isset .Params "date" }}
    <div>
      <strong>{{ i18n "DATE" }}:</strong>
      <span>{{ .Date.Format "2006/01/02 15:04:05 -0700" }}</span>
    </div>
  {{ end }}

  {{ range $key, $value := .Params.metadata }}
    <div>
      <strong>{{ i18n (replace ($key | upper) "-" "_") }}:</strong>

      {{ if or (hasPrefix $value "http://") (hasPrefix $value "https://") }}
        <a href="{{ $value }}">{{ $value }}</a>
      {{ else }}
        {{ $value }}
      {{ end }}
    </div>
  {{ end }}

  {{ $page := . }}

  {{ range $name, $pages := .Site.Taxonomies }}
    {{ if isset $page.Params $name }}
      <div>
        <strong>{{ i18n ($name | upper) }}:</strong>

        {{ range (index $page.Params $name) }}
          <a href="{{ absLangURL $name }}/{{ . | urlize }}">
            #{{ . }}</a>
        {{ end }}
      </div>
    {{ end }}
  {{ end }}
</div>

