{{ $author := $.Param "author" }}
{{ $description := $.Param "description" }}
{{ $image := (absURL ($.Param "image")) }}
{{ $date := .Date.Format "2006-01-02T15:04:05-0700" }}

<link rel="canonical" href="{{ .Permalink }}"/>
<meta name="robots" content="index, follow"/>

<meta name="author" content="{{ $author.name }}"/>
<meta name="description" content="{{ $description }}"/>

<!-- Open Graph -->

<meta property="og:url" content="{{ .Permalink }}"/>
<meta property="og:site_name" content="{{ .Site.Title }}"/>
<meta property="og:title" content="{{ .Title }}"/>
<meta property="og:description" content="{{ $description }}"/>
<meta property="og:image" content="{{ $image }}"/>

{{ if eq .Kind "page" }}
  <meta property="og:type" content="article"/>
  <meta property="article:published_time" content="{{ $date }}"/>

  <!-- Rich Snippets -->

  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BlogPosting",
      "headline": "{{ $description }}",
		  "datePublished": "{{ $date }}",
      "image": "{{ $image }}",
      "author": {
        "@type": "Person",
        "name": "{{ $author.name }}",
        "email": "{{ $author.email }}"
      }
    }
  </script>
{{ else }}
  <meta property="og:type" content="website"/>
{{ end }}

