<nav>
  <strong>
    <a href="{{ .Site.Home.Permalink }}">{{ .Site.Params.name }}</a>
  </strong>

  {{ partial "menu-items.tmpl" . }}

  <div>
    {{ with $.Site.GetPage "/search" }}
      [<form method="GET" action="{{ .Permalink }}">
        <input type="search" placeholder="{{ .Title }}..." name="q"/></form>]
    {{ end }}

    {{ with $.Site.GetPage "/settings" }}
      [<a href="{{ .Permalink }}">{{ .Title }}</a>]
    {{ end }}
  </div>
</nav>

