{{ $scripts := slice }}
{{ $scriptsAsync := slice }}
{{ $externals := slice }}
{{ $externalsAsync := slice }}

{{ $suffix := "" }}
{{ $suffixAsync := "" }}
{{ $scripts = $scripts | append "js/main.js" }}

{{ if .IsHome }}
{{ else if gt (len .Pages) 0 }}
{{ else if eq .Params.layout "search" }}
  {{ $suffix = printf "%v-search" $suffix  }}
  {{ $scripts = $scripts | append "js/search.js" }}

  {{ $externals = $externals | append "vendor/base64js-v1.3.1.min.js" }}
  {{ $externals = $externals | append "vendor/lunr-v2.3.8.js" }}
{{ else if eq .Kind "page" }}
  {{ $suffix = printf "%v-page" $suffix  }}
  {{ $scripts = $scripts | append "js/article.js" }}

  {{ if eq .Type "gallery" }}
    {{ $suffix = printf "%v-album" $suffix  }}
    {{ $scripts = $scripts | append "js/gallery.js" }}
  {{ end }}
{{ end }}

{{ with .Params.math }}
  {{ $externalsAsync = $externalsAsync | append "vendor/mathjax-v3.0.0.js" }}
{{ end }}

{{ with .Params.mermaid }}
  {{ $externals = $externals | append "vendor/mermaid-v8.4.6.js" }}
{{ end }}

{{ range $externals }}
  {{ if findRE "^https?://" . 1 }}
    <script defer src="{{ . }}"></script>
  {{ else }}
    {{ $script := resources.Get . | minify | fingerprint }}

    <script defer src="{{ $script.Permalink }}"
            integrity="{{ $script.Data.Integrity }}"></script>
  {{ end }}
{{ end }}

{{ range $externalsAsync }}
  {{ if findRE "^https?://" . 1 }}
    <script async src="{{ . }}"></script>
  {{ else }}
    {{ $script := resources.Get . | minify | fingerprint }}

    <script async src="{{ $script.Permalink }}"
            integrity="{{ $script.Data.Integrity }}"></script>
  {{ end }}
{{ end }}

{{ if .Site.IsServer }}
  {{ range $scripts }}
    {{ $script := resources.Get . }}
    <script defer src="{{ $script.Permalink }}"></script>
  {{ end }}

  {{ range $scriptsAsync }}
    {{ $script := resources.Get . }}
    <script async src="{{ $script.Permalink }}"></script>
  {{ end }}
{{ else }}
  {{ $res := slice }}

  {{ range $scripts }}
    {{ $res = $res | append (resources.Get .) }}
  {{ end }}

  {{ $script := resources.Concat (printf "js/bundle%v.js" $suffix) $res | minify | fingerprint }}

  <script defer src="{{ $script.Permalink }}"
          integrity="{{ $script.Data.Integrity }}"></script>

  {{ $resAsync := slice }}
  {{ range $scriptsAsync }}
    {{ $resAsync = $resAsync | append (resources.Get .) }}
  {{ end }}

  {{ $script := resources.Concat (printf "js/bundle-async%v.js" $suffixAsync) $res | minify | fingerprint }}

  <script async src="{{ $script.Permalink }}"
          integrity="{{ $script.Data.Integrity }}"></script>
{{ end }}

