{{ $externals := slice }}

{{ with .Params.math }}
  {{ $externals = $externals | append "https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML" }}
{{ end }}

{{ $suffix := "" }}
{{ $scripts := slice }}
{{ $scripts = $scripts | append "js/main.js" }}

{{ if .IsHome }}
  {{ $externals = $externals | append "vendor/fontawesome-5.5.0.js" }}
{{ else if eq .Kind "page" }}
  {{ $suffix = printf "%v-page" $suffix  }}
  {{ $scripts = $scripts | append "js/article.js" }}
{{ end }}

{{ range $externals }}
  {{ if or (hasPrefix . "http://") (hasPrefix . "https://") }}
    <script defer src="{{ . }}"></script>
  {{ else }}
    {{ $script := resources.Get . | minify | fingerprint }}

    <script defer src="{{ $script.Permalink }}"
            integrity="{{ $script.Data.Integrity }}"></script>
  {{ end }}
{{ end }}

{{ if .Site.IsServer }}
  {{ range $scripts }}
    {{ $script := resources.Get . }}
    <script defer src="{{ $script.Permalink }}"></script>
  {{ end }}
{{ else }}
  {{ $res := slice }}
  {{ range $scripts }}{{ $res = $res | append (resources.Get .) }}{{ end }}

  {{ $script := resources.Concat (printf "js/bundle%v.js" $suffix) $res | minify | fingerprint }}

  <script defer src="{{ $script.Permalink }}"
          integrity="{{ $script.Data.Integrity }}"></script>
{{ end }}

