{{ $sheets := slice }}
{{ $sheets = union $sheets (slice (resources.Get "vendor/normalize.css")) }}
{{ $sheets = union $sheets (slice (resources.Get "css/main.css")) }}

{{ if .IsHome }}
  {{ $sheets = union $sheets (slice (resources.Get "css/home.css")) }}
{{ else if eq .Kind "page" }}
  {{ $sheets = union $sheets (slice (resources.Get "css/article.css")) }}
  {{ $sheets = union $sheets (slice (resources.Get "css/print.css")) }}
{{ end }}

{{ if .Site.IsServer }}
  {{ range $sheets }}
    <link rel="stylesheet" href="{{ .Permalink }}"/>
  {{ end }}
{{ else }}
  {{ $sheet := resources.Concat "css/bundle.css" $sheets | minify | fingerprint }}

  <link rel="stylesheet" href="{{ $sheet.Permalink }}"
        integrity="{{ $sheet.Data.Integrity }}"/>
{{ end }}

