{{ $sheets := slice }}

{{ $suffix := "" }}
{{ $sheets = $sheets | append "vendor/normalize.css" }}
{{ $sheets = $sheets | append "css/main.css" }}

{{ if .IsHome }}
  {{ $suffix = printf "%v-home" $suffix  }}
  {{ $sheets = $sheets | append "css/home.css" }}
  {{ $sheets = $sheets | append "css/contact.css" }}
{{ else if gt (len .Pages) 0 }}
  {{ $suffix = printf "%v-list" $suffix  }}
  {{ $sheets = $sheets | append "css/list.css" }}
  {{ $sheets = $sheets | append "css/card.css" }}
  {{ $sheets = $sheets | append "css/markdown.css" }}
  {{ $sheets = $sheets | append "css/highlight/_main.css" }}
  {{ $sheets = $sheets | append "css/highlight/monokailight.css" }}
  {{ $sheets = $sheets | append "css/highlight/monokai.css" }}
{{ else if eq .Params.layout "search" }}
  {{ $suffix = printf "%v-search" $suffix  }}
  {{ $sheets = $sheets | append "css/list.css" }}
  {{ $sheets = $sheets | append "css/card.css" }}
  {{ $sheets = $sheets | append "css/markdown.css" }}
{{ else if eq .Kind "page" }}
  {{ $suffix = printf "%v-page" $suffix  }}
  {{ $sheets = $sheets | append "css/article.css" }}

  {{ if eq .Type "gallery" }}
    {{ $suffix = printf "%v-album" $suffix  }}
    {{ $sheets = $sheets | append "css/album.css" }}
  {{ end }}

  {{ $sheets = $sheets | append "css/markdown.css" }}
  {{ $sheets = $sheets | append "css/card.css" }}
  {{ $sheets = $sheets | append "css/gallery.css" }}
  {{ $sheets = $sheets | append "css/highlight/_main.css" }}
  {{ $sheets = $sheets | append "css/highlight/monokailight.css" }}
  {{ $sheets = $sheets | append "css/highlight/monokai.css" }}

  {{ if eq .Type "authors" }}
    {{ $suffix = printf "%v-authors" $suffix  }}
    {{ $sheets = $sheets | append "css/contact.css" }}
  {{ else }}
    {{ $sheets = $sheets | append "css/print.css" }}
  {{ end }}
{{ end }}

{{ if .Site.IsServer }}
  {{ range $sheets }}
    {{ $sheet := resources.Get . }}
    <link rel="stylesheet" type="text/css" href="{{ $sheet.Permalink }}"/>
  {{ end }}
{{ else }}
  {{ $res := slice }}
  {{ range $sheets }}{{ $res = $res | append (resources.Get .) }}{{ end }}

  {{ $sheet := resources.Concat (printf "css/bundle%v.css" $suffix) $res | minify | fingerprint }}

  <link rel="stylesheet" type="text/css" href="{{ $sheet.Permalink }}"
        integrity="{{ $sheet.Data.Integrity }}"/>
{{ end }}

