{{ define "main" }}
  <img src="{{ relURL .Site.Params.image }}"
       alt="{{ .Site.Params.title }}" class="site-img"/>

  {{ with .Site.GetPage "/about" }}
    {{ .Content }}
  {{ end }}

  <h2>{{ i18n "CONTACT" }}</h2>

  <ul class="contact">
    {{ $authorURL := printf "/authors/%s" .Site.Params.defaultAuthor }}
    {{ $author := (.Site.GetPage $authorURL).Params }}

    {{ range sort $author.social "weight" }}
      {{ if gt .weight 1 }}
        <li title="{{ .label }}">
          <img src="{{ .icon }}" alt="{{ .label }}"/>
          <a href="{{ .url | safeURL }}">{{ .text }}</a>
        </li>
      {{ end }}
    {{ end }}
  </ul>
{{ end }}

