{{ define "main" }}
  {{ $authorURL := printf "/authors/%s" .Site.Params.author }}
  {{ $author := .Site.GetPage $authorURL }}

  <img src="{{ relURL $author.Params.image }}"
       alt="{{ $author.Params.name }}" class="site-img"/>

  {{ $author.Content }}

  <h2>{{ i18n "CONTACT" }}</h2>

  <ul class="contact">
    {{ range sort $author.Params.social "weight" }}
      {{ if gt .weight 1 }}
        <li title="{{ .label }}">
          {{ readFile .icon | safeHTML }}
          <a href="{{ .url | safeURL }}">{{ .text }}</a>
        </li>
      {{ end }}
    {{ end }}
  </ul>
{{ end }}

