{{ define "main" }}
  <img src="{{ relURL .Site.Params.image }}" alt="NtWeb" class="site-img"/>

  <p>
    Hola! soy Miguel Angel, solo otro desarrollador más trabajando duro para
    no ser solo otro desarrollador más.
  </p>

  {{ if gt (len .Sections) 0 }}
    <ul>
      {{ range .Sections }}
        <li>
          <a href="{{ .URL }}">{{ .Title }}</a>

          {{ with .Pages }}({{ len . }}){{ end }}
        </li>
      {{ end }}
    </ul>
  {{ end }}

  <p>
    ¿Necesita un programador?
    Dele un vistazo a mi <a href="/cv/es.html">CV</a>
    (<a href="/cv/es.pdf">PDF</a>)
  </p>

  <h2>Redes sociales</h2>

  <ul>
    {{ range .Site.Params.social }}
      <li><a href="{{ .url }}">{{ .name }}</a></li>
    {{ end }}
  </ul>
{{ end }}

