{{ $path := .Get 0 }}
{{ $content := "```" }}

{{ with .Get 1 }}
  {{ $content = printf "%s%s" $content . }}
{{ end }}

{{ $content = printf "%s\n" $content }}

{{ $content = printf "%s%s" $content (printf "content/%s/%s" $.Page.File.Dir $path | readFile) }}

{{ $content = replace $content "\t" "  " }}
{{ $content = printf "%s```" $content }}

{{ if eq (.Get 2) true }}
  <details>
    <summary><code>{{ $path }}</code></summary>
    {{ markdownify $content }}
  </details>
{{ else }}
  {{ markdownify $content }}
{{ end }}

