name: Go
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  ci:
    name: CI
    strategy:
      matrix:
        os: [ubuntu-latest]
        go_version: ["1.14", "1.13"]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go_version }}

      - name: Get source code
        uses: actions/checkout@v1

      - name: Set up tools
        run: |
          wget -qO /tmp/mage.tar.gz "https://github.com/magefile/mage/releases/download/v1.9.0/mage_1.9.0_Linux-64bit.tar.gz"
          tar -xf /tmp/mage.tar.gz -C /usr/bin/
          chmod +x /usr/bin/mage

      - name: Lint
        run: ./mage -v lint:mage

      - name: Content generation - Go packages
        run: ./mage -v gen:gopkgs

      - name: Content generation - Projects
        run: ./mage -v gen:projects

      - name: Challenges
        run: ./mage -v challenges:default

